<div class="homepageIntro">
    <div class="introLeft">
        <p class="leftSubtitle">Powered by Arianna Franchetto</p>
        <div class="leftTop">
            <p class="topTitle">
                Book Recommender
            </p>
            <p class="topParagraph">
                Some description
            </p>
        </div>
        <button class="leftButton">Try it now</button>
    </div>
    <div class="introRight">
        <img src="/Images/topo.svg" alt="Alternate Text" />
    </div>
</div>
    </header>
<div class="landingPageDivisor"></div>
<section class="featuresSection">
    <div class="AISection">
        <div class="sectionTop">
            <div class="aiIcon">
                <img src="/Images/ai.svg" alt="ai icon" />
            </div>
            <div class="topText">
                <p class="textTitle">AI</p>
                <p class="textParagraph">
                    Learn the latest animation techniques to create stunning motion
                    design and captivate your audience.
                </p>
            </div>
        </div>
        <button class="sectionButton">Get Started</button>
    </div>
    <div class="reccomendationsSection">
        <div class="sectionTop">
            <div class="reccomendationsIcon">
                <img src="/Images/reccomendations.svg" alt="ai icon" />
            </div>
            <div class="topText">
                <p class="textTitle">Reccomendations</p>
                <p class="textParagraph">
                    Learn the latest animation techniques to create stunning motion
                    design and captivate your audience.
                </p>
            </div>
        </div>
        <button class="sectionButton">Get Started</button>
    </div>
    <div class="ratingsSection">
        <div class="sectionTop">
            <div class="ratingsIcon">
                <img src="/Images/ratings.svg" alt="ai icon" />
            </div>
            <div class="topText">
                <p class="textTitle">Ratings</p>
                <p class="textParagraph">
                    Learn the latest animation techniques to create stunning motion
                    design and captivate your audience.
                </p>
            </div>
        </div>
        <button class="sectionButton">Get Started</button>
    </div>
</section>